<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleIdentifier</key>
  <string>jhermsmeier.template.math</string>
  <key>CFBundleName</key>
  <string>GitHub-MathML</string>
  <key>CFBundleShortVersionString</key>
  <string>1.1.0</string>
  <key>CFBundleVersion</key>
  <string>2</string>
  <key>IATemplateDocumentFile</key>
  <string>document</string>
  <key>IATemplateFooterHeight</key>
  <integer>90</integer>
  <key>IATemplateHeaderHeight</key>
  <integer>90</integer>
  <key>IATemplateDescription</key>
  <string>Document with support for Math</string>
  <key>IATemplateAuthor</key>
  <string>Jonas Hermsmeier</string>
  <key>IATemplateAuthorURL</key>
  <string>https://jhermsmeier.de</string>
</dict>
</plist>
